/**
 * Open Table Widget Stylesheet
 */

.otw-alert {
	padding: 8px 14px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.otw-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}

.otw-error a {
	color: #B94A48 !important;
}

.otw-widget-align-left {
	float: left;
	margin: 0 30px 30px 0;
}

.otw-widget-align-right {
	float: right;
	margin: 0 0 30px 30px;
}

/* Autocomplete */

.open-table-widget input[type="text"].ui-autocomplete-loading {
	background: #FFF url('../images/loading.gif') no-repeat 97% center;
}

.otw-item-val {
	font-size: 12px;
	display: block;
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	font-weight: 600;
}

.otw-item-address {
	font-size: 11px;
	font-style: italic;
	display: block;
	line-height: 1;
	vertical-align: top;
}

body .open-table-widget .ui-state-hover, body .open-table-widget .ui-widget-content .open-table-widget .ui-state-hover, body .open-table-widget .ui-widget-header .ui-state-hover,
body .open-table-widget .ui-state-focus, body .open-table-widget .ui-widget-content .ui-state-focus, body .open-table-widget .ui-widget-header .ui-state-focus {
	text-decoration: none;
	color: #FFF;
	background: #428BCA;
	border: none;
	border-radius: 0;
	cursor: pointer;
}

/* Buttons */

.open-table-widget .btn, input.otw-submit-btn, .otw-input-wrap .btn {
	display: inline-block;
	padding: 6px 12px;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, #FFF, #E6E6E6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	border-color: #E6E6E6 #E6E6E6 #BFBFBF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	border: 1px solid #CCC;
	border-bottom-color: #B3B3B3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.otw-wrapper .btn:focus, input.otw-submit-btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.otw-wrapper .btn:hover, .open-table-widget .btn:focus, input.otw-submit-btn:focus, input.otw-submit-btn:hover {
	color: #333333;
	text-decoration: none;
}

.open-table-widget .btn:hover, .open-table-widget .btn:focus, input.otw-submit-btn:hover, input.otw-submit-btn:focus {
	color: #333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.open-table-widget .btn:active, .open-table-widget .btn.active, input.otw-submit-btn:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.open-table-widget .btn.disabled, .open-table-widget .btn[disabled], .open-table-widget fieldset[disabled] .btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.open-table-widget .btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

.open-table-widget .btn-default:hover, .open-table-widget .btn-default:focus, .open-table-widget .btn-default:active, .open-table-widget .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #333333;
	background-color: #E6E6E6;
	border-color: #adadad;
}

.open-table-widget .btn-default:active, .open-table-widget .btn-default.active, .open .dropdown-toggle.btn-default {
	background-image: none;
}

.open-table-widget .btn-default.disabled, .open-table-widget .btn-default[disabled], fieldset[disabled] .btn-default, .open-table-widget .btn-default.disabled:hover, .open-table-widget .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .open-table-widget .btn-default.disabled:focus, .open-table-widget .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .open-table-widget .btn-default.disabled:active, .open-table-widget .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .open-table-widget .btn-default.disabled.active, .open-table-widget .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
	background-color: #ffffff;
	border-color: #cccccc;
}

.open-table-widget .btn-primary, input.otw-submit-btn {
	color: #ffffff;
	background-color: #428bca;
	border-color: #357ebd;
	background-image: none;
	text-shadow: none;
}

.open-table-widget .btn-primary:hover, .open-table-widget .btn-primary:focus, .open-table-widget .btn-primary:active, .open-table-widget .btn-primary.active, .open-table-widget .open .dropdown-toggle.btn-primary, .open-table-widget input.otw-submit-btn:hover, .open-table-widget input.otw-submit-btn:focus {
	color: #ffffff;
	background: #3276b1;
	border-color: #285e8e;
}

.open-table-widget .btn-primary:active, .open-table-widget .btn-primary.active, .open-table-widget .open .dropdown-toggle.btn-primary {
	background-image: none;
}

.open-table-widget .btn-primary.disabled, .open-table-widget .btn-primary[disabled], fieldset[disabled] .btn-primary, .open-table-widget .btn-primary.disabled:hover, .open-table-widget .btn-primary[disabled]:hover, .open-table-widget fieldset[disabled] .btn-primary:hover, .open-table-widget .open-table-widget .btn-primary.disabled:focus, .open-table-widget .btn-primary[disabled]:focus, .open-table-widget fieldset[disabled] .btn-primary:focus, .open-table-widget .open-table-widget .btn-primary.disabled:active, .open-table-widget .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .open-table-widget .open-table-widget .btn-primary.disabled.active, .open-table-widget .btn-primary[disabled].active, .open-table-widget fieldset[disabled] .btn-primary.active, .otw-submit-btn[disabled] {
	background-color: #428bca;
	border-color: #357ebd;
}

.open-table-widget .btn-success:active, .open-table-widget .btn-success.active, .open-table-widget .open .dropdown-toggle.btn-success {
	background-image: none;
}

.open-table-widget .btn-success.disabled, .open-table-widget .btn-success[disabled], fieldset[disabled] .btn-success, .open-table-widget .btn-success.disabled:hover, .open-table-widget .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .open-table-widget .btn-success.disabled:focus, .open-table-widget .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .open-table-widget .btn-success.disabled:active, .open-table-widget .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .open-table-widget .btn-success.disabled.active, .open-table-widget .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.open-table-widget .btn-info {
	color: #ffffff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.open-table-widget .btn-info:hover, .open-table-widget .btn-info:focus, .open-table-widget .btn-info:active, .open-table-widget .btn-info.active, .open-table-widget .open .dropdown-toggle.btn-info {
	color: #ffffff;
	background-color: #39b3d7;
	border-color: #269abc;
}

.open-table-widget .btn-info:active, .open-table-widget .btn-info.active, .open-table-widget .open .dropdown-toggle.btn-info {
	background-image: none;
}

.open-table-widget .btn-info.disabled, .open-table-widget .btn-info[disabled], .open-table-widget fieldset[disabled] .btn-info, .open-table-widget .btn-info.disabled:hover, .open-table-widget .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .open-table-widget .btn-info.disabled:focus, .open-table-widget .btn-info[disabled]:focus, .open-table-widget fieldset[disabled] .btn-info:focus, .open-table-widget .btn-info.disabled:active, .open-table-widget .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .open-table-widget .btn-info.disabled.active, .open-table-widget .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
	background-color: #5bc0de;
	border-color: #46b8da;
}

.open-table-widget .btn-link {
	color: #428bca;
	font-weight: normal;
	cursor: pointer;
	border-radius: 0;
}

.open-table-widget .btn-link, .open-table-widget .btn-link:active, .open-table-widget .btn-link[disabled], .open-table-widget fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.open-table-widget .btn-link, .open-table-widget .btn-link:hover, .open-table-widget .btn-link:focus, .open-table-widget .btn-link:active {
	border-color: transparent;
}

.open-table-widget .btn-link:hover, .open-table-widget .btn-link:focus {
	color: #2a6496;
	text-decoration: underline;
	background-color: transparent;
}

.open-table-widget .btn-link[disabled]:hover, .open-table-widget fieldset[disabled] .open-table-widget .btn-link:hover, .open-table-widget .btn-link[disabled]:focus, .open-table-widget fieldset[disabled] .btn-link:focus {
	color: #999999;
	text-decoration: none;
}

.open-table-widget .btn-lg {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

.open-table-widget .btn-sm, .open-table-widget .btn-xs {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.open-table-widget .btn-xs {
	padding: 1px 5px;
}

.open-table-widget .btn-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.open-table-widget .btn-block + .btn-block {
	margin-top: 5px;
}

.open-table-widget input[type="submit"].btn-block, .open-table-widget input[type="reset"].btn-block, .open-table-widget input[type="button"].btn-block {
	width: 100%;
}

/*--------------------------------
Basic Form Styles
------------------------------------*/

.otw-widget-form-wrap label {
	display: block;
	margin: 0 0 5px;
	font-size: 12px;
}

.otw-widget-form-wrap input[type="text"], .otw-widget-form-wrap select {
	margin: 0;
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */;
}

.otw-widget-form-wrap input[type="text"] {
	color: #555;
	vertical-align: middle;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.otw-widget-form-wrap input[type="text"]:focus {
	border-color: #66AFE9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.otw-pre-form-content {
	margin: 0 0 10px;
	padding: 0;
}

.otw-post-form-content {
	margin: 10px 0 0;
	padding: 0;
}

.otw-input-wrap {
	margin: 0 0 15px;
}

.otw-post-form-content p:last-child {
	margin: 0;
}

.powered-by-open-table {
	background: url('../images/open-table-logo-transparent-150.png') no-repeat center bottom rgba(0, 0, 0, 0);
	height: 45px;
	margin: 15px 0 0;
}

.powered-by-open-table span {
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.otw-restaurant-find-wrap {
	display: none;
}

/*--------------------------------
OTW Minimal Themes
------------------------------------*/

.otw-minimal-light-style {
	padding: 15px;
	position: relative;
	background: #FFFFFF;
	border-radius: 4px;
	color: #7E7975;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.otw-minimal-light-style label, .otw-minimal-dark-style label {
	text-transform: uppercase;
	font-size: 11px;
}

.otw-minimal-light-style .otw-widget-title, .otw-minimal-dark-style .otw-widget-title {
	font-size: 15px;
	font-weight: bold;
	color: #757575;
	padding-bottom: 8px;
	border-bottom: 1px solid #EBE6E2;
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	margin: 0 0 15px;
	line-height: 1.4em;
}

.otw-minimal-light-style .otw-time-wrap, .otw-minimal-light-style .otw-party-size-wrap, .otw-minimal-dark-style .otw-time-wrap, .otw-minimal-dark-style .otw-party-size-wrap {
	float: left;
	width: 48.5%;
	position: relative;
}

.otw-minimal-light-style .otw-time-wrap, .otw-minimal-dark-style .otw-time-wrap {
	margin-right: 3%;
}

.otw-reservation-date {
	width: 100%;
	background: url('../images/calendar-icon.png') no-repeat 96% center #FFF;
	padding: 6px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.otw-minimal-light-style input.otw-submit-btn, .otw-minimal-dark-style input.otw-submit-btn {
	background-image: none;
	width: 100%;
	margin: 2px 0;
	text-shadow: none;
}

/* Dark */

.otw-minimal-dark-style {
	padding: 15px;
	position: relative;
	background: #333;
	border-radius: 4px;
	color: #CCC;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 1px 5px rgba(0, 0, 0, 0.2);
}

.otw-minimal-dark-style label {
	color: #CCC;
}

.otw-minimal-dark-style .otw-widget-title, .otw-shadow-dark-style .otw-widget-title, .otw-inset-dark-style .otw-widget-title {
	color: #FFFFFF;
	border-bottom: 1px solid #1F1F1F;
	text-shadow: 0 2px 0 rgba(14, 14, 14, 0.8);
	box-shadow: 0 1px 0 rgba(92, 92, 92, 0.8);
}

/*--------------------------------
OTW Shadow Themes
------------------------------------*/

.otw-shadow-light-style, .otw-shadow-dark-style {
	padding: 30px;
	border: 1px solid #E6E6E6;
	background-color: #F7F7F7;
	-moz-box-shadow: inset 0 5px 5px #FEFEFE, 0px 0px 40px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: inset 0 0 5px #FEFEFE, 0px 0px 40px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0 0 0 4px #FEFEFE, 0px 0px 40px rgba(0, 0, 0, 0.08);
}

.otw-shadow-light-style .btn, .otw-shadow-light-style input.otw-submit-btn, .otw-shadow-light-style .otw-input-wrap .btn, .otw-shadow-light-style .otw-widget-form-wrap input[type="text"], .otw-shadow-light-style .otw-widget-form-wrap select {
	border-radius: 0;
}

.otw-shadow-light-style .otw-submit-btn, .otw-shadow-dark-style .otw-submit-btn, .otw-shadow-light-style .otw-submit-btn:hover, .otw-shadow-dark-style .otw-submit-btn:hover {
	background-image: none;
	text-shadow: none;
}

/* Dark Style */

.otw-shadow-dark-style {
	color: #FFF;
	background-color: #333;
	border: 1px solid #000000;
	-moz-box-shadow: inset 0 5px 5px #525252, 0px 0px 40px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: inset 0 0 5px #525252, 0px 0px 40px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0 0 0 4px #525252, 0px 0px 40px rgba(26, 26, 26, 0.08);
}

.otw-shadow-dark-style .otw-widget-title, .otw-inset-dark-style .otw-widget-title {
	border: none;
	box-shadow: none;
}

.otw-minimal-dark-style .powered-by-open-table, .otw-shadow-dark-style .powered-by-open-table, .otw-inset-dark-style .powered-by-open-table {
	background: url('../images/open-table-logo-transparent-white-150.png') no-repeat center bottom rgba(0, 0, 0, 0);
}

/*--------------------------------
OTW Inset Themes
------------------------------------*/

.otw-inset-light-style, .otw-inset-dark-style {
	padding: 15px 20px;
	border-radius: 10px;
	background-color: #f8f8f8;
	background: linear-gradient(top, #f9f9f9, #F5F5F5);
	background: -o-linear-gradient(top, #f9f9f9, #F5F5F5);
	background: -moz-linear-gradient(top, #f9f9f9, #F5F5F5);
	background: -webkit-linear-gradient(top, #F9F9F9, #F5F5F5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#F5F5F5', GradientType=0);
	background: -ms-linear-gradient(top, #FFFFFF, #F5F5F5);
	-moz-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.20);
	-webkit-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
}

.otw-inset-dark-style {
	color: #FFF;
	background-color: #333;
	background: linear-gradient(top, #333, #525252);
	background: -o-linear-gradient(top, #333, #525252);
	background: -moz-linear-gradient(top, #333, #525252);
	background: -webkit-linear-gradient(top, #333, #525252);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#525252', GradientType=0);
	background: -ms-linear-gradient(top, #333, #525252);

	-moz-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.5);
}