/***********************************
Licensing
***********************************/

.licence-input {
	background: url('../img/inactive.png') no-repeat 98.5% center #FFF;
	clear: both;
	display: block;
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	margin-bottom: 7px;
	width: 420px;
	padding: 6px;
}

.licence-status {
	float: left;
}

.licence-hidden {
	display: none !important;
}

.register-licence-ajax-spinner {
	margin: 0 0 0 5px;
	position: relative;
	top: 3px;
}

.licence-input.license-active {
	background: url('../img/active.png') no-repeat 98.5% center #FFF;
}

label.licence-label {
	margin: 5px 0 15px;
}

/***********************************
Alerts
***********************************/

.alert {
	padding: 8px 14px;
	color: #c09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width:390px;
}

.alert p {
	margin: 0;
}

.alert-red, .alert-danger {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}

.alert-red a {
	color: #B94A48 !important;
}

.alert-success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.alert-info {
	color: #3A87AD;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}